.container {
    margin-top: 1.2rem;
  }
  
  .container input,
  .container ::-webkit-input-placeholder {
    color: white !important;
  }
  .container input:focus {
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid tomato;
  }
.gg {
    background-color:white;
    display: flex;
    column-width: 0%;
    background-color: tomato;
    max-width: 0%;
    max-height: 0%;
    
}

.gf
{
    float: right;
    margin-top: 0cm;
}
.hh
{
   float: left;
   margin-top: 0cm;
}
  